.container{
    height: 100vh;
  }
  .ma{
    background-color: #00000094;
  }
  
  body{
    margin: 0;
    width: 100%;
    max-width: none;
    height: 100vh;
    background-image: url('/static/bg.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:scroll;
    background-color: hue;
  }
  
  .nav-item a{
    color: white;
  }
  .nav-item a:hover{
    text-decoration:underline;
    color: #d8a91de0;
  }
  .nav-item a:focus{
    color: white;
    text-decoration: none;
    background-color: #fbae07ca;
  }
  
  .fs-4{
    color: whitesmoke
  }
  .px-3{
    color: whitesmoke;
    text-align: center; 
    padding-bottom: 15rem;
    margin-top: 10rem;
  }
  .main{
    height: 60vh
  }
  .footer{
    margin-bottom: 0
  }
  .footer a{
    color: white;
    text-decoration: none;
  }
  .footer a:hover{
    color: #efb70fe0;
    text-decoration:underline
  }


/* For Page1 only*/
.item-active1{
    border-radius: 4px;
    pointer-events: none;
    color: white;
    text-decoration: none;
    background-color: #fbae07ca
  }
.main{
    text-align: center;
}
.btn:hover{
    color: #b1862ace;
    text-decoration:underline
}